@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: hsl(247 69% 14%);
    
}

.header {
    width: 1440px;
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 40px;
    font-weight: 800;
    color: hsl(0 100% 85%);
    cursor: pointer;
}

.header__user {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
}

.header__user__info {
    font-size: 20px;
    font-weight: 400;
    color: hsl(0 100% 85%);
}

.header__user__icon {
    background-color: hsl(267 71% 41%);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    color: hsl(0 100% 85%);
    font-size: 16px;
    text-transform: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.header__user__icon:hover {
    background-color: hsl(267, 80%, 52%);
    color: hsl(0 100% 95%);
    transition: all 0.1s ease-in-out;
}

.header__user__icon:active {
    background-color: hsl(267 71% 41%);
    color: hsl(0 100% 95%);
    box-shadow: 0 1px 1px hsl(0 0% 0% / 0.1);
    transition: all 0.1s ease-in-out;
}

.header__user__icon:disabled, .button:hover:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
    background-color: hsl(267, 80%, 52%);
    color: hsl(0 100% 95%);
}
